<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>

<body>
<div class="container d-flex flex-column pt-3">
    <h1>Personal blog</h1>
    <nav class="navbar navbar-expand-lg bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="pt-3">
        <h4 class="pb-3">Articles</h4>
        <a type="button" class="btn btn-primary mb-3" th:href="@{/admin/article/create}">Create article</a>
        <ul class="list-group">
            <li class="list-group-item" th:each="article : ${articles}">
                <p th:text="${article.header}">##</p>
                <a type="button" class="btn btn-primary" th:href="@{/article/{id}(id=${article.id})}">Detail</a>
                <a type="button" class="btn btn-secondary" th:href="@{/admin/article/update/{id}(id=${article.id})}">Update article</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>